---
title: About us
---

<!DOCTYPE html>
  <html>
    
    {% include head.html %}
    
    <body>
      
      {% include header.html %}
       <br/>
        <section>
          
          <div class="container">
            
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <center>
                  <div class="">
                    <img src="http://goo.gl/26DVSG" width="70%" alt="..." class="img-circle">
                    <div class="caption">
                      <h3>Brian Guinan</h3>
                    </div>
                  </div>
                </center>
              </div>
            
            
            
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <center>
                  <div class="">
                    <img src="http://goo.gl/TLxwo8" width="70%" alt="..." class="img-circle">
                    <div class="caption">
                      <h3>Besart Shyti</h3>
                    </div>
                  </div>
                </center>
              </div>
            
            
            
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <center>
                  <div class="">
                    <img src="http://goo.gl/Rk6vL3" width="70%" alt="..." class="img-circle">
                    <div class="caption">
                      <h3>Izaak Sofer</h3>
                    </div>
                  </div>
                </center>
              </div>
            
            
            
              <div class="col-lg-3 col-sm-6 col-xs-6">
                <center>
                  <div class="">
                    <img src="http://goo.gl/fTvsqB" width="70%" alt="..." class="img-circle">
                    <div class="caption">
                      <h3>Barry O'Brien</h3>
                    </div>
                  </div>
                </center>
              </div>
            
            
            
            <p>his blog has been built as the central part of B-Team’s first week project, for the 7 week Founders & Coders course, at Collective Academy.</p>
          
<p>
Founders & Coders is run by Dan Sofer and Pastor Jurado. The aim of this project is to take a small group of highly motivated students and provide them with a world class education, with as little cost as possible. </p>
<p>
Dan, borrowing from the ideas of Richard Felda and Sugata Mitra, has developed a highly effective model for learning. <a href = “mailto:d@sofer.com”>Get in touch</a> if you would like to know more.</p>
            
            {% include footer.html %}