---
title: About us
---

<!DOCTYPE html>
  <html>
    
    {% include head.html %}
    
    <body>
      
      {% include header.html %}
      
        <section>
          
          <div class="container">
            
            <div class="row">
              <div class="col-md-3 col-xs-6">
                <center>
                  <div class="thumbnail">
                    <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/10363923_10201065594360394_8335134550248276739_n.jpg" alt="..." class="img-circle">
                    <div class="caption">
                      <h3>Besart Shyti</h3>
                    </div>
                  </div>
                </center>
              </div>
            </div>
            
            {% include footer.html %}