---

---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
      
  <br/>    
      <div class = "container">
   

<h2>Go ahead, lavish praise on <a href="http://bteamfc.co.uk" >our blog</a>...you know you want to!</h2>
  <p class="alert alert-info">But really, do let us know what you think</p>

    <hr />

   

    <form method="POST" action="http://forms.brace.io/bteamfc@gmail.com">
    
        <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input name="name" type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
        </div>
    
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="_replyto" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
    
        <div class="form-group">
            <label for="exampleTextArea">Extravagant flattery here:</label>
            <textarea name="message" class="form-control" rows="3"></textarea>    
        </div>
      
        <div class="form-group">
            <label>How would you rate your browsing experience out of 10?</label><br />
            
            <label class="checkbox-inline">
                <input name="choose" type="checkbox" id="inlineCheckbox1" value="option1"> 9
            </label>
            <label class="checkbox-inline">
                <input name="choose" type="checkbox" id="inlineCheckbox2" value="option2"> 10
            </label>
            <label class="checkbox-inline">
                <input name="choose" type="checkbox" id="inlineCheckbox3" value="option3"> 11
            </label>
          
          
        </div>

        <input type="hidden" name="_next" value="//bteamfc.co.uk" />
      
        <button type="submit" class="btn btn-primary">Submit</button>
      
      
      

    </form>
        


    </div>
    
    {% include footer.html %}
    
    
    