---

---

<!DOCTYPE html>
  <html>

    {% include head.html %}

      <body>

        {% include header.html %}
    
     <!-- Carousel slides animation start ==========================================-->
    
       <div id = "myCarousel" class = "carousel slide">
          
          <ol class = "carousel-indicators">
            <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel" data-slide-to = "1"></li>
            <li data-target = "#myCarousel" data-slide-to = "2"></li>
            <li data-target = "#myCarousel" data-slide-to = "3"></li>
            <li data-target = "#myCarousel" data-slide-to = "4"></li>
          </ol>
          
          <div class = "carousel-inner">

            <div class = "item active" style="height:400px; background-image:url(/assets/foto2.jpg); background-position:center center; background-size:cover;"> 
              <div class = "carousel-caption">
                <h1>Hard at work</h1>
                <p></p>
              </div>
            </div>

            <div class = "item" style="height:400px; background-image:url(/assets/foto3.jpg); background-position:center center; background-size:cover;">   
              <div class = "carousel-caption">
                <h1>Yum!</h1>
                <p>Check out our edible garden</p>
              </div>
            </div>

            <div class = "item" style="height:400px; background-image:url(/assets/image1.jpg); background-position:center center; background-size:cover;">
              <div class = "carousel-caption">
                <h1>Supported by Camden Town Unlimited</h1>
                <p></p>
              </div>
            </div>
            
            <div class = "item" style="height:400px; background-image:url(/assets/foto5.jpg); background-position:center center; background-size:cover;">
              
              <div class = "carousel-caption">
                <h1>Dan's office</h1>
                <p></p>
              </div>
            </div>
            
            <div class = "item" style="height:400px; background-image:url(/assets/image1.jpg); background-position:center center; background-size:cover;">
              
              <div class = "carousel-caption">
                <h1>Hello again!</h1>
                <p></p>
              </div>
            </div>

          </div>
          
          <a class = "carousel-control left" href = "#myCarousel" data-slide = "prev">
            <span class = "icon-prev"></span>
          </a>

          <a class = "carousel-control right" href = "#myCarousel" data-slide = "next">
            <span class = "icon-next"></span>
          </a>


       </div>
      
    <!-- Carousel slides animation concluded ==========================================-->
        
    <!-- Guardian stuff starts ==========================================-->
        
       <div class="container">
        
          <div id="tabs">
            <ul>
                <li><a href="#fragment-1"><span>Travel</span></a></li>
                <li><a href="#fragment-2"><span>News</span></a></li>
                <li><a href="#fragment-3"><span>Football</span></a></li>
            </ul>
            <div id="fragment-1">
              <p><ol id="travel">Travel</ol></p>
            </div>
            <div id="fragment-2">
              <p> <ol id="news">News</ol></p>
            </div>
             <div id="fragment-3">
              <p><ol id="football">Football</ol></p>
            </div>
      </div>
        
       </div>
        
    <!-- Guardian stuff starts ==========================================-->

      {% include footer.html %}

     </body>
  </html>
