---

---

<!DOCTYPE html>
  <html>

    {% include head.html %}

      <body>

        {% include header.html %}
    
<!-- Carousel slides animation start ==========================================-->
    
       <div id = "myCarousel" class = "carousel slide">
          
          <ol class = "carousel-indicators">
            <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel" data-slide-to = "1"></li>
            <li data-target = "#myCarousel" data-slide-to = "2"></li>
            <li data-target = "#myCarousel" data-slide-to = "3"></li>
            <li data-target = "#myCarousel" data-slide-to = "4"></li>
          </ol>
          
          <div class = "carousel-inner">

            <div class = "item active">
              <img src = "assets/image1.jpg" alt = "Mountain" class = "img-responsive">
              <div class = "carousel-caption">
                <h1>Mountains</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>

            <div class = "item">
              <img src = "assets/foto 3.JPG" alt = "Wheat fields" class = "img-responsive">
              <div class = "carousel-caption">
                <h1>Wheat fields</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>

            <div class = "item">
              <img src = "assets/foto 4.JPG" alt = "Vancuver" class = "img-responsive">
              <div class = "carousel-caption">
                <h1>Vancuver</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>
            
            <div class = "item">
              <img src = "assets/foto 5.JPG" alt = "Vancuver" class = "img-responsive">
              <div class = "carousel-caption">
                <h1>Vancuver</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>
            
            <div class = "item">
              <img src = "assets/foto 2.JPG" alt = "Vancuver" class = "img-responsive">
              <div class = "carousel-caption">
                <h1>Vancuver</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>

          </div>
          
          <a class = "carousel-control left" href = "#myCarousel" data-slide = "prev">
            <span class = "icon-prev"></span>
          </a>

          <a class = "carousel-control right" href = "#myCarousel" data-slide = "next">
            <span class = "icon-next"></span>
          </a>


       </div>
    
    <!-- Carousel slides animation concluded ==========================================-->

      {% include footer.html %}

     </body>
  </html>