---

---

<!DOCTYPE html>
  <html>

    {% include head.html %}

      <body>

        {% include header.html %}
    
     <!-- Carousel slides animation start ==========================================-->
    
       <div id = "myCarousel" class = "carousel slide">
          
          <ol class = "carousel-indicators">
            <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
            <li data-target = "#myCarousel" data-slide-to = "1"></li>
            <li data-target = "#myCarousel" data-slide-to = "2"></li>
            <li data-target = "#myCarousel" data-slide-to = "3"></li>
            <li data-target = "#myCarousel" data-slide-to = "4"></li>
          </ol>
          
          <div class = "carousel-inner">

            <div class = "item active" style="height:400px; background-image:url(/assets/foto2.jpg); background-position:center center; background-size:cover;"> 
              <div class = "carousel-caption">
                <h1>Picture 1</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>

            <div class = "item" style="height:400px; background-image:url(/assets/foto3.jpg); background-position:center center; background-size:cover;">   
              <div class = "carousel-caption">
                <h1>Picture 2</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>

            <div class = "item" style="height:400px; background-image:url(/assets/image1.jpg); background-position:center center; background-size:cover;">
              <div class = "carousel-caption">
                <h1>Picture 3</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>
            
            <div class = "item" style="height:400px; background-image:url(/assets/foto5.jpg); background-position:center center; background-size:cover;">
              
              <div class = "carousel-caption">
                <h1>Pciture 4</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>
            
            <div class = "item" style="height:400px; background-image:url(/assets/image1.jpg); background-position:center center; background-size:cover;">
              
              <div class = "carousel-caption">
                <h1>Picture 5</h1>
                <p>This is just a normal paragraph</p>
              </div>
            </div>

          </div>
          
          <a class = "carousel-control left" href = "#myCarousel" data-slide = "prev">
            <span class = "icon-prev"></span>
          </a>

          <a class = "carousel-control right" href = "#myCarousel" data-slide = "next">
            <span class = "icon-next"></span>
          </a>


       </div>
      
    
    <!-- Carousel slides animation concluded ==========================================-->

      {% include footer.html %}

     </body>
  </html>