
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <center>
                  <div class="thumbnail">
                    <img src="http://goo.gl/TLxwo8" width="70%" alt="..." class="img-circle">
                    <div class="caption">
                      <h3>Besart Shyti</h3>
                    </div>
                    
                    
                    
                  </div>
                  
                    <a class="btn btn-block btn-social btn-twitter">
                      <i class="fa fa-twitter"></i> Follow me with Twitter
                    </a>
                  
                    <a class="btn btn-block btn-social btn-facebook">
                      <i class="fa fa-facebook"></i> See my posts on Facebook
                    </a>
                  
                    <a class="btn btn-social-icon btn-lg btn-facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                  
                    <a class="btn btn-block btn-social btn-vine">
                      <i class="fa fa-vine"></i> Crazy video on Vine
                    </a>
                  
                    <a class="btn btn-block btn-social btn-linkedin">
                      <i class="fa fa-linkedin"></i> Have a look on LinkedIn
                    </a>
                  
                </center>
              </div>