<div class="col-xs-3">
  <center>
    <div class="">
      <img src="http://goo.gl/26DVSG" width="80%" alt="..." class="img-circle">
      <div class="caption">
        <h3>Brian Guinan</h3>
      </div>



    </div>

    <a class="btn btn-block btn-social btn-twitter">
      <i class="fa fa-twitter"></i> Follow me with Twitter
    </a>

    <a class="btn btn-block btn-social btn-facebook">
      <i class="fa fa-facebook"></i> Super interesting posts on Fb
    </a>

    <a class="btn btn-block btn-social btn-google-plus">
      <i class="fa fa-google-plus"></i> Circle me on g+ :P
    </a>

    <a class="btn btn-block btn-social btn-linkedin">
      <i class="fa fa-linkedin"></i> See my skills on LinkedIn ;)
    </a>

  </center>
</div>