  <header>
    
   <div  class = "navbar navbar-inverse navbar-static-top" style="margin-bottom:0px;">
     
    <div class = "container">
      
      <a href = "#" class = "navbar-brand">BTEAM</a>
      
      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      
      <div class = "collapse navbar-collapse navHeaderCollapse">
        <ul class = "nav navbar-nav navbar-right">
        
          <li><a href = "/index.html">Home</a></li>
          <li><a href = "/tutorials/">Tutorials</a></li>
          <li><a href = "/blog/">Blog</a></li>
          <li><a href = "/project/">Projects</a></li>
          <li><a href = "/aboutUs/">About us</a></li>
              
              <li class = "dropdown">
                <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Social Media <b class = "caret"></b></a>
              <ul class = "dropdown-menu">
                <li><a href = "https://twitter.com/bteamfc/" target="_blank">Twitter</a></li>
                <li><a href = "https://www.facebook.com/bteam.fc/" target="_blank">Facebook</a></li>
                <li><a href = "https://vine.co/u/1091771098494070784/" target="_blank">Vine</a></li>
                <li><a href = "http://instagram.com/bteamfc" target="_blank">Instagram</a></li>
                </ul> 
              </li>
          
          <li><a href='#' data-toggle="modal" data-target="#myModal">Contact us</a></li> <!-- Button trigger modal -->
        </ul>
      </div>
    </div>
   </div>
  </header>
   <!-- Modal stuff starts ==========================================-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Go ahead, lavish praise on our blog ...you know you want to!</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="http://forms.brace.io/bteamfc@gmail.com">
              <div class="form-group">
                  <label for="exampleInputName">Name</label>
                  <input name="name" type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input name="_replyto" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                  <label for="exampleTextArea">Extravagant flattery here:</label>
                  <textarea name="message" class="form-control" rows="3"></textarea>    
              </div>
              <div class="form-group">
                  <label>How would you rate your browsing experience out of 10?</label><br />
                  <label class="checkbox-inline">
                      <input name="choose" type="checkbox" id="inlineCheckbox1" value="option1"> 9
                  </label>
                  <label class="checkbox-inline">
                      <input name="choose" type="checkbox" id="inlineCheckbox2" value="option2"> 10
                  </label>
                  <label class="checkbox-inline">
                      <input name="choose" type="checkbox" id="inlineCheckbox3" value="option3"> 11
                  </label> 
                  </div>
                
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="hidden" name="_next" value="//bteamfc.co.uk" />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>     
  <!-- Modal stuff ends here ==========================================-->

