  <header>
    
   <div  class = "navbar navbar-inverse navbar-static-top" style="margin-bottom:0px;">
     
    <div class = "container">
      
      <a href = "#" class = "navbar-brand">BTEAM</a>
      
      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      
      <div class = "collapse navbar-collapse navHeaderCollapse">
        <ul class = "nav navbar-nav navbar-right">
        
          <li><a href = "/index.html">Home</a></li>
          <li><a href = "/tutorials/">Tutorials</a></li>
          <li><a href = "/blog/">Blog</a></li>
          <li><a href = "/aboutUs/">About us</a></li>
              
              <li class = "dropdown">
                <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Social Media <b class = "caret"></b></a>
              <ul class = "dropdown-menu">
                <li><a href = "https://twitter.com/bteamfc/" target="_blank">Twitter</a></li>
                <li><a href = "http://facebook.com/" target="_blank">Facebook</a></li>
                <li><a href = "http://vine.com/" target="_blank">Vine</a></li>
                <li><a href = "http://instagram.com/" target="_blank">Instagram</a></li>
                </ul> 
              </li>
          
          <li><a href = "/contact/">Contact us</a></li>

        
        </ul>
      </div>
    </div>
   </div>
  </header>

